In [10]:
import requests
from tqdm import tqdm
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
df=pd.read_csv("scrapper in jy.csv")

In [3]:
df.head()

,quote,author,author_id,tags
0,“The world as we have created it is a process ...,Albert Einstein,/author/Albert-Einstein,"change,deep-thoughts,thinking,world"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,/author/J-K-Rowling,"abilities,choices"
2,“There are only two ways to live your life. On...,Albert Einstein,/author/Albert-Einstein,"inspirational,life,live,miracle,miracles"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,/author/Jane-Austen,"aliteracy,books,classic,humor"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,/author/Marilyn-Monroe,"be-yourself,inspirational"

In [4]:
del df['quote']
del df['tags']

In [5]:
df.head()

            author                author_id
0  Albert Einstein  /author/Albert-Einstein
1     J.K. Rowling      /author/J-K-Rowling
2  Albert Einstein  /author/Albert-Einstein
3      Jane Austen      /author/Jane-Austen
4   Marilyn Monroe   /author/Marilyn-Monroe

In [6]:
df.values

array([['Albert Einstein', '/author/Albert-Einstein'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['Jane Austen', '/author/Jane-Austen'],
       ['Marilyn Monroe', '/author/Marilyn-Monroe'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['André Gide', '/author/Andre-Gide'],
       ['Thomas A. Edison', '/author/Thomas-A-Edison'],
       ['Eleanor Roosevelt', '/author/Eleanor-Roosevelt'],
       ['Steve Martin', '/author/Steve-Martin'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['Jane Austen', '/author/Jane-Austen'],
       ['Marilyn Monroe', '/author/Marilyn-Monroe'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['André Gide', '/author/Andre-Gide'],
       ['Thomas A. Edison', '/author/Thomas-A-Edison'],
       ['Eleanor Roosevelt', '/author/Eleanor-Roosevelt'],
       ['Steve Martin', '/author/Steve-Martin'],
       ['Marilyn Monroe', '/author/Marilyn-Monroe'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['Bob Marley', '/author/Bob-Marley'],
       ['Dr. Seuss', '/author/Dr-Seuss'],
       ['Douglas Adams', '/author/Douglas-Adams'],
       ['Elie Wiesel', '/author/Elie-Wiesel'],
       ['Friedrich Nietzsche', '/author/Friedrich-Nietzsche'],
       ['Mark Twain', '/author/Mark-Twain'],
       ['Allen Saunders', '/author/Allen-Saunders'],
       ['Pablo Neruda', '/author/Pablo-Neruda'],
       ['Ralph Waldo Emerson', '/author/Ralph-Waldo-Emerson'],
       ['Mother Teresa', '/author/Mother-Teresa'],
       ['Garrison Keillor', '/author/Garrison-Keillor'],
       ['Jim Henson', '/author/Jim-Henson'],
       ['Dr. Seuss', '/author/Dr-Seuss'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['Bob Marley', '/author/Bob-Marley'],
       ['Dr. Seuss', '/author/Dr-Seuss'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['Bob Marley', '/author/Bob-Marley'],
       ['Mother Teresa', '/author/Mother-Teresa'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['Charles M. Schulz', '/author/Charles-M-Schulz'],
       ['William Nicholson', '/author/William-Nicholson'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['Jorge Luis Borges', '/author/Jorge-Luis-Borges'],
       ['George Eliot', '/author/George-Eliot'],
       ['George R.R. Martin', '/author/George-R-R-Martin'],
       ['C.S. Lewis', '/author/C-S-Lewis'],
       ['Marilyn Monroe', '/author/Marilyn-Monroe'],
       ['Marilyn Monroe', '/author/Marilyn-Monroe'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['Marilyn Monroe', '/author/Marilyn-Monroe'],
       ['Marilyn Monroe', '/author/Marilyn-Monroe'],
       ['Martin Luther King Jr.', '/author/Martin-Luther-King-Jr'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['James Baldwin', '/author/James-Baldwin'],
       ['Jane Austen', '/author/Jane-Austen'],
       ['Eleanor Roosevelt', '/author/Eleanor-Roosevelt'],
       ['Marilyn Monroe', '/author/Marilyn-Monroe'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['Haruki Murakami', '/author/Haruki-Murakami'],
       ['Alexandre Dumas fils', '/author/Alexandre-Dumas-fils'],
       ['Stephenie Meyer', '/author/Stephenie-Meyer'],
       ['Ernest Hemingway', '/author/Ernest-Hemingway'],
       ['Helen Keller', '/author/Helen-Keller'],
       ['George Bernard Shaw', '/author/George-Bernard-Shaw'],
       ['Charles Bukowski', '/author/Charles-Bukowski'],
       ['Suzanne Collins', '/author/Suzanne-Collins'],
       ['Suzanne Collins', '/author/Suzanne-Collins'],
       ['C.S. Lewis', '/author/C-S-Lewis'],
       ['J.R.R. Tolkien', '/author/J-R-R-Tolkien'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['Ernest Hemingway', '/author/Ernest-Hemingway'],
       ['Ralph Waldo Emerson', '/author/Ralph-Waldo-Emerson'],
       ['Mark Twain', '/author/Mark-Twain'],
       ['Dr. Seuss', '/author/Dr-Seuss'],
       ['Alfred Tennyson', '/author/Alfred-Tennyson'],
       ['Charles Bukowski', '/author/Charles-Bukowski'],
       ['Terry Pratchett', '/author/Terry-Pratchett'],
       ['Dr. Seuss', '/author/Dr-Seuss'],
       ['J.D. Salinger', '/author/J-D-Salinger'],
       ['George Carlin', '/author/George-Carlin'],
       ['John Lennon', '/author/John-Lennon'],
       ['W.C. Fields', '/author/W-C-Fields'],
       ['Ayn Rand', '/author/Ayn-Rand'],
       ['Mark Twain', '/author/Mark-Twain'],
       ['Albert Einstein', '/author/Albert-Einstein'],
       ['Jane Austen', '/author/Jane-Austen'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['Jane Austen', '/author/Jane-Austen'],
       ['Jane Austen', '/author/Jane-Austen'],
       ['C.S. Lewis', '/author/C-S-Lewis'],
       ['C.S. Lewis', '/author/C-S-Lewis'],
       ['Mark Twain', '/author/Mark-Twain'],
       ['Mark Twain', '/author/Mark-Twain'],
       ['C.S. Lewis', '/author/C-S-Lewis'],
       ['J.K. Rowling', '/author/J-K-Rowling'],
       ['Jimi Hendrix', '/author/Jimi-Hendrix'],
       ['J.M. Barrie', '/author/J-M-Barrie'],
       ['E.E. Cummings', '/author/E-E-Cummings'],
       ['Khaled Hosseini', '/author/Khaled-Hosseini'],
       ['Harper Lee', '/author/Harper-Lee'],
       ["Madeleine L'Engle", '/author/Madeleine-LEngle'],
       ['Mark Twain', '/author/Mark-Twain'],
       ['Dr. Seuss', '/author/Dr-Seuss'],
       ['George R.R. Martin', '/author/George-R-R-Martin']], dtype=object)

In [7]:
len(df.drop_duplicates())

50

In [8]:
df=df.drop_duplicates()

In [15]:
for page in  tqdm (df.values):
    author=page[0]
    author_id= page[1]
    link="https://quotes.toscrape.com/"+ page[1]
    
    res=requests.get(link)
    soup=BeautifulSoup(res.text,'html.parser')
    
    text=soup.find('div',class_="author-details").text
    
    fd=open ('Author/'+ author +'.txt','w', encoding='utf-8')
    fd.write(text)
    fd.close()

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [02:37<00:00,  3.15s/it]